body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color:#6f4e37;
    color: white;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    position:sticky;
}

nav {
    background-color: beige;
    color: white;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(19, 16, 16);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    text-align: center;
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
} 
#button{
    font-size: 20px;
    
}
.title{
    font-size:20 px;
}
.box1{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

}
footer {
    background-color:bisque;
    color: rgb(20, 19, 19);
    text-align: center;
    padding: 0;
    position: absolute;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}


